.image-container {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.icon {
  /* color: red; */
  font-size: 3rem;
  cursor: pointer;
}

.image-input {
  visibility: hidden;
}

.image-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
