.ion-avatar {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.toggle-time-sender {
  margin-left: 130px;
}

.toggle-time-other {
  margin-right: 120px;
  margin-left: 20px;
}

.chat-container {
  border: red solid 2px;
  display: flex;
}

.sender-message {
  box-sizing: border-box;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin-left: 120px;
  background-color: #f5f5f5;
  /* word-wrap: break-word; */
}

/* .sender-message:hover {
  transform: scale(1.05);
} */

.sender-message:active {
  transform: scale(0.95);
} 

.other-message {
  box-sizing: border-box;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin-right: 120px;
  background-color: #709651;
}

/* .other-message:hover {
  transform: scale(1.05);
} */

.other-message:active {
  transform: scale(0.95);
}
